@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
background:black ;
}

header {
    background: #181818;
    padding: 15px 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

.list_buttons ul {
    display: none;
}

.list_buttons .row_buttons {
    display: none;
}

.bars div {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 0;
    margin: 4px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 95%;
    margin: auto;
}


/* MAIN */

.banner {
    background: url('../assets/image/IMAGE.png') center /cover;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.banner_content {
    text-align: center;
    padding-top: 100px;
}

.banner_content p {
    color: #C0C0C0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    
}

.banner_content h1 {
    color: white;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
    
}

.banner_content i {
    color: #C0C0C0;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
}

.icon ul {
   display: flex;
   justify-content: center;
   gap: 16px;
}

.icon ul li {
    color: white;
    margin-top: 13px;
    font-size: 12px;
    font-weight: 400;
}


/* Areas */


.areas {
    margin-top: 110px;
}

.areas_title {
    text-align: center;
}

.areas_title h1 {
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.areas_title p {
    font-size: 17px;
    font-weight: 400;
    color: #C0C0C0;
}

.row_areas {
    margin-top: 40px; ;
}

.areas_card {
    width: 100%;
    height: 100%;
    margin: 16px 0;
}


.card1 {
    background: url("../assets/image/IMAGE\ \(1\).png") center / cover;   
}

.card2 {
    background: url("../assets/image/IMAGE\ \(2\).png") center / cover ; 
}

.card3 {
    background: url("../assets/image/IMAGE\ \(3\).png") center / cover;
}

.card4 {
    background: url("../assets/image/IMAGE\ \(4\).png") center / cover;
}



.areas_card_content {
    padding-top: 180px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.areas_card_content h2 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}

.areas_card_content p {
    font-size: 12px;
    font-weight: 400;
    color: #C0C0C0;
}

.areas_card_content button {
    border-radius:  14px; 
    height: 42px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
    padding-left: 3px;
    border:white
}


/* Sunset */


.sunset_banner{
    background: url("../assets/image/IMAGE\ \(5\).png") center / cover ;
    width: 100%;
    
}

.sunset {
    margin-top: 100px;
}

.sunset_content {
    text-align: end;
    padding-top: 150px;
    padding-right: 20px;
}

.sunset_content h2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    
    
}

.sunset_content p {
    font-size: 14px;
    font-weight: 400;
    color: #C0C0C0;
}

.sunset_icon {
    padding-top: 100px;
}

.sunset_icon ul {
    display: flex;
    justify-content: center;
    gap: 16px;
 }
 
 .sunset_icon ul li {
     color: white;
     margin-top: 13px;
     font-size: 12px;
     font-weight: 400;
     padding-bottom: 20px;
 }




 /* Tools */


 .tools {
    
    width: 100%;
    height: 80vh;
 }



 .tools_left {
    margin-top: 100px;
 }

 .tools_left p {
    color: #C0C0C0;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 6px;
 }

 .tools_left h2 {
    color: white;
    font-size: 25px;
    font-weight: 400;
 }

 .tools_left i {
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    color: white;
 }

 .tools button {
    margin-top: 30px;
    margin-bottom: 80px;
 }

 .tools button {
    border-radius:  14px; 
    height: 42px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
    padding-left: 3px;
    border: white;
 }

 .tools_right {
    background: url("../assets/image/IMAGE\ \(6\).png") center / cover;
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
    
 }

 .tools_right ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    
    
    
 }

 .tools_right ul li {
    color: white;
     margin-top: 13px;
     font-size: 12px;
     font-weight: 400;
 }

 .tools_right img {
    padding-top: 230px;
    
 }


 /* Monstera */


 .monstera {
    background: url("../assets/image/IMAGE\ \(7\).png") center / cover;
    width: 100%;
    height:100%;
 }

.monstera_content {
    text-align: end;
    padding-top: 150px;
    padding-right: 20px;
}

 .monstera_content h2 {
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
 }

.monstera_icon {
    padding-bottom: 20px;
}

 .monstera_content p {
    color: #C0C0C0;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
 }



 .monstera_icon ul {
    display: flex;
    justify-content: center;
    gap: 16px;
 }

 .monstera_icon ul li {
    color: white;
     margin-top: 13px;
     font-size: 12px;
     font-weight: 400;
 }

 .monstera_icon img {
    padding-top: 100px;
    
 }


 /* Clients */

 .clients {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
 }

 .clients h1 {
    color: white;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
 }

 .clients p {
    color: #C0C0C0;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
 }

 .clients_list ul {
    margin-left: 110px;
 }

 .clients_list img {
    width: 50%;
 }


/* Star */


.star_banner {
    background: url("../assets/image/IMAGE\ \(8\).png") center / cover;
    width: 100%;
    height: 100% ;
}

.star {
    margin-top: 100px;
}

.star_content {
    text-align: end;
    padding-top: 150px;
    padding-right: 20px;
}

.star_content h2 {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    
    
}

.star_content p {
    font-size: 14px;
    font-weight: 400;
    color: #C0C0C0;
}

.sunset_icon {
    padding-top: 100px;
}

.star_icon ul {
    display: flex;
    justify-content: center;
    gap: 16px;
 }
 
 .star_icon ul li {
     color: white;
     margin-top: 13px;
     font-size: 12px;
     font-weight: 400;
     padding-bottom: 20px;
 }



/* Need */


.need {
    text-align: center;
    width: 100%;
    height: 100%;
}


.need_content {
    margin-top: 110px;
    margin-bottom: 110px;
}

.need_content h1 {
    color:white ;
    font-size: 25px;
    font-weight: 400;

}

.need_content p {
    color: #C0C0C0;
    font-size: 17px;
    font-weight: 400;

}

.need_content button {
    border-radius:  14px; 
    height: 42px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 10px;
    padding-left: 3px;
    border: white;
    margin-left: 94px;
}


/* Footer */


.footer {
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

.aperture p {
    color: #C0C0C0;
    font-size: 13px;
    font-weight: 400;
}

.list_footer p {
    color: #C0C0C0;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list_footer ul li {
    color: white;
    font-size: 13px;
    font-weight: 400;
}

hr {
    margin-top: 40px;
}

.content_button h2 {
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 36px;
}

.content_button p {
    color: #C0C0C0;
    font-size: 11px;
    font-weight: 400;
}

.content_button button {
    border-radius: 12px;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: white;
}


.list_bottom  {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

.footer_bottom {
    color: #C0C0C0;
    font-size: 12px;
    font-weight: 400;
}

.footer_img ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;

}


/* MEDIA QUERIES */


    @media screen and (min-width:375px) {
        .need_content button {
            margin: 0 120px;
        }
    }

    @media screen and (min-width:425px) {
        .need_content button {
            margin: 0 150px;
            font-size: 12px;
        }
    }

    @media screen and (min-width:768px) {
        .banner {
            height: 60vh;
        }

        .banner_content p {
            margin-top: 130px;
        }

        .icon ul {
            margin-left: 500px;
            
        }


        .areas_card {
            height: 100%;
        }

        .areas_card_content h2 {
           margin-top: 140px;
        }

     

        .sunset {
            height: 60vh;
        }

        

        .sunset_icon ul {
            margin-left: 500px;
        }

       
       .tools_right ul  {
        margin-left: 500px;
       
       margin-top: 30px;
       }

       .tools_right ul li {
       margin-top: 50px;
        
        align-items: center;
       }

       .monstera_icon ul {
        margin-left: 500px;
       }

       .clients {
        height: 40vh;
       }

       .clients_list ul {
        display: flex;
        margin-top: 100px;
       }

       .star {
        height: 60vh;
       }

       .star h2 {
        margin-top: 70px;
       }

       .star_icon ul {
        margin-left: 500px;
        margin-top: 120px;
       }

       .need_content button{
        margin: 0 320px;
        width: 120px;

       }


       .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
       }

       .aperture {
        margin-bottom: 190px;
       }

       .content_button ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
       }


       .footer_bottom ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
       }

       .footer_img ul {
        gap: 20px;
       }
    }

    @media screen and (min-width:1024px) {
        .bars {
            display: none;
        }


        .list_buttons .row_buttons {
            display: flex;
        }

        .row_buttons button {
            background: white;
            color: black;
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 0.4px;
            padding: 8px 20px;
            border: 0;
            outline: 0;
            border-radius: 14px;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        .banner_content p {
            margin-top: 250px;
        }

        .banner .icon ul {
           margin-left: 700px;
        }

        .row_areas {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

        }


        .areas_title h1 {
            margin-top: 100px;
        }
        

        
        

        .areas_card {
            width: 49%;
            margin: 0px 0 ;
        }

        .card1 {
            height: 61vh;
           
        }
           

        .card2 {
            height: 61vh; 
            
        }

        .card3{
            height: 61vh;
        }

        .card4 {
            height: 61vh;
        }


        .sunset_banner {
            height: 118%;
        }

        .sunset_content h2 {
            margin-top: 70px;
        }

        
        .sunset_icon ul {
            margin-top: 60px;
            margin-left: 72%;
        }
      
        
        .tools {
            display: flex;
           height: 100%;
            
        }

        .tools_left {
            background: black;
            
        }

        .tools_left {
            width: 100%;
            height: 60%;
            margin-top: 200px;
            margin-left: 30px;
        }


        .container button {
            margin-left: 30px;
        }


        .tools_right {
            width: 80%;
            height: 86%;
            margin-TOP: 82px;
        }

        .tools_right ul {
            margin-top: 190px;
            margin-left: 210px;
        }


        .tools_right   {
           display: flex;
        }


        .monstera {
            height: 70vh;
        }


        .monstera_content h2 {
            margin-top: 130px;
        }


        .monstera_icon ul {
            margin-top: 30px;
            
            margin-left: 72%;
        }


        .clients_list img {
            width: 80%;
        }

        .star {
            height: 70vh;
        }


        .star_content h2 {
            margin-top: 100px;
        }

        .star_icon ul {
            margin-left: 75%;
            margin-top: 140px;
        }

        .need_content button {
            margin-left: 45%;
            width: 12%;
            
            
        }


       
    }


    @media screen and (min-width:1440px) {
        .banner {
            height: 80vh;

        }

        .list_buttons ul {
            display: flex;
            gap: 30px;
            color: white;
        }

        .list_buttons {
            display: flex;
            align-items: center;
            gap: 30px;
        }
        

        .banner_content p  {
            margin-top: 30%;
        }

        .icon {
            margin-left: 30%;
        } 


        .sunset_icon ul {
            margin-left: 80%;
        }


        .tools_right ul {
            margin-left: 58%;
        }


        .monstera_icon ul {
            margin-left: 79%;
        }


        .clients_list img {
            width: 100%;
        }

        .clients_list ul {
            margin-left: 18%;
            gap: 30px;
        }

        .star_icon ul {
            margin-left: 80%;
        }


        .need_content button {
            margin-left: 45%;
            width: 10%;
            padding: 0 10px

        }
    }